{
  "printWidth": 500,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false
}
